/***************************************************************
************************ Z-Tabzilla Style **********************
***************************************************************/    

#tabzillacontainer	{
	width: 100%;
	float: left;
}

#tabzilla {
    float: left;
    display: block;
    background: url("images/tabzilla_zeitgeisted.png") repeat scroll 0 0 transparent;
    height: 45px;
    width: 150px;
    position: relative;
    text-indent: -2000px;
    overflow: hidden;
    z-index: 999;
}

#tabzilla.tabzilla-opened,
.darkbg #tabzilla.tabzilla-opened {
    background-position: 0 -45px;
}

#tabzilla:after {base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX%2F%2F%2F9ISEhr7AOpAAAAAXRSTlMAQObYZgAAACVJREFUCNdjYEACHAIMMhYMdjUM8j8Y%2BD8wsD9gYD7AwNiArAQAd4oFaCu14IQAAAAASUVORK5CYII%3D);
    position: absolute;
    height: 16px;
    width: 16px;
    top: 11px;
    right: 23px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#tabzilla.tabzilla-opened:after {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Tab panel */

#tabzilla-panel {
    background: none repeat scroll 0 0 #FFFFFF;
    font-family: 'Ubuntu Condensed', sans-serif;;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3;
    font-size: 11px;
    color: #666666;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    direction: ltr;
}

#tabzilla-panel.tabzilla-closed {
    height: 0;    
    overflow: hidden;
}

#tabzilla-panel.tabzilla-opened {
    height: 260px;
	   width: 100%;
	   overflow-y:auto;
}

#tabzilla-contents {
    width: 992px;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -486px;
    right: 0;
}

* html #tabzilla-contents             { zoom: 1; } /* IE6 */
*:first-child+html #tabzilla-contents { zoom: 1; } /* IE7 */

#tabzilla-contents:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
	background: none repeat scroll 0px 0px rgb(255, 255, 255);
}

#tabzilla-promo {
    float: left;
    display: inline;
    width: 300px;
    height: 210px;
    margin-right: 5px;
    background: #f8f8f8;
    position: relative;
    font-size: 13px;
    line-height: 1.5;
}

#tabzilla-promo .snippet img {
    position: absolute;
    top: 40px;
    left: 20px;
}

#tabzilla-promo .snippet {
    padding: 40px;
}

#tabzilla-promo .snippet h4,
#tabzilla-panel #tabzilla-nav,
#tabzilla-panel #tabzilla-nav h2 {
    padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #484848;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

#tabzilla-promo .snippet h4 {
    line-height: 1.1;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0.4em;
}

#tabzilla-panel #tabzilla-nav h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 10px 10px 0;
    white-space: nowrap;
}

#tabzilla-panel #tabzilla-nav ul {
    margin: 0;
    padding: 0;
}

#tabzilla-panel #tabzilla-nav ul li {
    float: left;
    display: inline;
    list-style-type: none;
    padding: 2px;
    width: 248px;
    height: auto;
    background: none;
    line-height: 0.4;
}

#tabzilla-panel #tabzilla-nav ul li ul li {
    float: none;
    margin: 0;
    border-right: 0;
    height: auto;
}

#tabzilla-panel #tabzilla-nav a,
#tabzilla-panel #tabzilla-nav a:link,
#tabzilla-panel #tabzilla-nav a:visited {
    text-decoration: none;
	color: #666666;
    display: block;
    padding: 2px 20px;
    outline: 0;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.1em
}

#tabzilla-panel #tabzilla-nav a:hover,
#tabzilla-panel #tabzilla-nav a:active,
#tabzilla-panel #tabzilla-nav a:focus {
    color:#000000;
}

#tabzilla-panel #tabzilla-nav ul li#tabzilla-search {
    border-right: 0;
}

#tabzilla-panel #tabzilla-nav ul li#tabzilla-search a {
    padding-top: 0;
}

#tabzilla-panel #tabzilla-nav ul li#tabzilla-search form  {
    margin: 0.4em 20px
}

#tabzilla-panel #tabzilla-nav ul li#tabzilla-search input {
    width: 90px;
    background: #fafafa;
    color: #666666;
    border: 1px solid #ddd;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 0 0 3px rgba(0,0,0,0.02) inset;
    -webkit-box-shadow: 0 0 0 3px rgba(0,0,0,0.02) inset;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.02) inset;
    -webkit-appearance: none;
    padding: 4px;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

#tabzilla-panel #tabzilla-nav ul li#tabzilla-search input:hover {
    border-color: #ccc;
}

#tabzilla-panel #tabzilla-nav ul li#tabzilla-search input:focus {
    outline: 0;
    border-color: #999;
}

#tabzilla-panel #tabzilla-nav ul li#tabzilla-search input::-webkit-input-placeholder { color: #ddd; }
#tabzilla-panel #tabzilla-nav ul li#tabzilla-search input:-moz-placeholder           { color: #ddd; }


/***************************************************************
********************* Chapter flag Styles **********************
***************************************************************/    

#chapters_table {
	width: 48%;
	float: left;
		}
.c_COL1, .c_COL2, .c_COL3, .c_COL4 {
    width: 25%;
	height: 200px;
	float: left;
}

.c_COL1 div, .c_COL2 div, .c_COL3 div, .c_COL4 div	{
	text-align: left;
	vertical-align: top; 
	margin-bottom: 2px;
	margin-top: 1px;
	}

#chapters_table h1	{
	font-size: 20px;
	font-weight: bold;
	color: #484848;
}
/*** chapter images ***/

.chapters_link  {
	height: 10px;
   	color:#000000;
    font-size: 11px;
	font-family: 'Arial', sans-serif;
	line-height: 11px;
	display:table-row-group;
}

.chapters_link:hover, .chapters:hover {
   	color:#9DEB04;
    font-size: 11px;
	opacity: 1;
	filter: none;
		}

.chapters	{
    background: url("images/flags.gif") no-repeat scroll 0 0 padding-box transparent;
    float: left;
    height: 11px;
    margin-right: 5px;
    opacity: 0.6;
    padding-left: 16px;
    width: 0;
}

.flag-margin	{
	margin-left: 2px;
	line-height: 1px;
	white-space: nowrap;
	page-break: none;
	color: #000000;
}

.c_argentina	{background-position: 0px -99px;}
.c_argentina:hover	{background-position: -16px -99px;}

.c_australia	{background-position: 0px -132px;}
.c_australia:hover	{background-position: -16px -132px;}

.c_austria	{background-position: 0px -121px;}
.c_austria:hover	{background-position: -16px -121px;}

.c_belgium	{background-position: 0px -209px;}
.c_belgium:hover	{background-position: -16px -209px;}

.c_brazil	{background-position: 0px -308px;}
.c_brazil:hover	{background-position: -16px -308px;}

.c_bulgaria	{background-position: 0px -231px;}
.c_bulgaria:hover	{background-position: -16px -231px;}

.c_canada	{background-position: 0px -385px;}
.c_canada:hover	{background-position: -16px -385px;}

.c_chile	{background-position: 0px -484px;}
.c_chile:hover	{background-position: -16px -484px;}

.c_china	{background-position: 0px -506px;}
.c_china:hover	{background-position: -16px -506px;}

.c_colombia	{background-position: 0px -518px;}
.c_colombia:hover	{background-position: -16px -518px;}

.c_costarica	{background-position: 0px -529px;}
.c_costarica:hover	{background-position: -16px -529px;}

.c_croatia	{background-position: 0px -407px;}
.c_croatia:hover	{background-position: -16px -407px;}

.c_czechrep	{background-position: 0px -484px;}
.c_czechrep:hover	{background-position: -16px -484px;}

.c_denmark	{background-position: 0px -627px;}
.c_denmark:hover	{background-position: -16px -627px;}

.c_dominican	{background-position: 0px -649px;}
.c_dominican:hover	{background-position: -16px -649px;}

.c_ecuador 	{background-position: 0px -517px;}
.c_ecuador:hover 	{background-position: -16px -517px;;}

.c_finland	{background-position: 0px -781px;}
.c_finland:hover	{background-position: -16px -781px;}

.c_france	{background-position: 0px -836px;}
.c_france:hover	{background-position: -16px -836px;}

.c_gernamy	{background-position: 0px -605px;}
.c_gernamy:hover	{background-position: -16px -605px;}

.c_greece	{background-position: 0px -979px;}
.c_greece:hover	{background-position: -16px -979px;}

.c_guatemala	{background-position: 0px -1001px;}
.c_guatemala:hover	{background-position: -16px -1001px;}

.c_hungary	{background-position: 0px -1100px;}
.c_hungary:hover	{background-position: -16px -1100px;}

.c_india	{background-position: 0px -1144px;}
.c_india:hover	{background-position: -16px -1144px;}

.c_irleand	{background-position: 0px -1122px;}
.c_irleand:hover	{background-position: -16px -1122px;}

.c_israel	{background-position: 0px -1133px;}
.c_israel:hover	{background-position: -16px -1133px;}

.c_italy	{background-position: 0px -1199px;}
.c_italy:hover	{background-position: -16px -1199px;}

.c_kazakhstan	{background-position: 0px -1353px;}
.c_kazakhstan:hover	{background-position: -16px -1353px;}

.c_japan	{background-position: 0px -1232px;}
.c_japan:hover	{background-position: -16px -1232px;}

.c_lithuania	{background-position: 0px -1463px;}
.c_lithuania:hover	{background-position: -16px -1463px;}

.c_macedonia	{background-position: 0px -1552px;}
.c_macedonia:hover	{background-position: -16px -1552px;}

.c_malaysia	{background-position: 0px -1706px;}
.c_malaysia:hover	{background-position: -16px -1706px;}

.c_mexico	{background-position: 0px -1695px;}
.c_mexico:hover	{background-position: -16px -1695px;}

.c_mongolia 	{background-position: 0px -1585px;}
.c_mongolia:hover 	{background-position: -16px -1585px;}

.c_netherlands	{background-position: 0px -1794px;}
.c_netherlands:hover	{background-position: -16px -1794px;}

.c_newzealand	{background-position: 0px -1849px;}
.c_newzealand:hover	{background-position: -16px -1849px;}

.c_nicaragua	{background-position: 0px -1783px;}
.c_nicaragua:hover	{background-position: -16px -1783px;}

.c_norway	{background-position: 0px -1805px;}
.c_norway:hover	{background-position: -16px -1805px;}

.c_paraguay	{background-position: 0px -2014px;}
.c_paraguay:hover	{background-position: -16px -2014px;}

.c_peru	{background-position: 0px -1882px;}
.c_peru:hover	{background-position: -16px -1882px;}

.c_poland	{background-position: 0px -1937px;}
.c_poland:hover	{background-position: -16px -1937px;}

.c_philippines	{background-position: 0px -1915px;}
.c_philippines:hover	{background-position: -16px -1915px;}

.c_portugal	{background-position: 0px -1992px;}
.c_portugal:hover	{background-position: -16px -1992px;}

.c_romania	{background-position: 0px -2047px;}
.c_romania:hover	{background-position: -16px -2047px;}

.c_russia	{background-position: 0px -2069px;}
.c_russia:hover	{background-position: -16px -2069px;}

.c_serbia 	{background-position: 0px -2058px;}
.c_serbia:hover {background-position: -16px -2058px;}

.c_singapore	{background-position: 0px -2157px;}
.c_singapore:hover	{background-position: -16px -2157px;}

.c_slovakia	{background-position: 0px -2201px;}
.c_slovakia:hover	{background-position: -16px -2201px;}

.c_slovenia	{background-position: 0px -2179px;}
.c_slovenia:hover	{background-position: -16px -2179px;}

.c_southafrika	{background-position: 0px -2674px;}
.c_southafrika:hover	{background-position: -16px -2674px;}

.c_spain	{background-position: 0px -737px;}
.c_spain:hover	{background-position: -16px -737px;}

.c_sweden	{background-position: 0px -2146px;}
.c_sweden:hover	{background-position: -16px -2146px;}

.c_switzerland	{background-position: 0px -451px;}
.c_switzerland:hover	{background-position: -16px -451px;}

.c_thailand	{background-position: 0px -528px;}
.c_thailand:hover	{background-position: -16px -528px;}

.c_turkey	{background-position: 0px -0px;}
.c_turkey:hover	{background-position: -16px -0px;}

.c_ukraine	{background-position: 0px -2487px;}
.c_ukraine:hover	{background-position: -16px -2487px;}

.c_unitedkingdom	{background-position: 0px -858px;}
.c_unitedkingdom:hover	{background-position: -16px -858px;}

.c_venezuela {background-position: 0px -2564px;}
.c_venezuela:hover {background-position: -16px -2564px;}

.c_virgin {background-position: 0px -2575px;}
.c_virgin:hover {background-position: -16px -2575px;}

.c_uruguay {background-position: 0px -2520px;}
.c_uruguay:hover {background-position: -16px -2520px;}

	
/************************************************
		CHAPTERS STYLE end
************************************************/
